<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./../../static/assets/css/base.css">
  <title>{{ title }}</title>
</head>
<body>
  <div class="base-wrapper">
    <div class="base-header">
      {% block header %}
        <header class="common-header">公共头部</header>
      {% endblock %}
    </div>
    <div class="base-content">
      {% block main %} {% endblock %}
    </div>
    <div class="base-footer">
      {% block footer %}
        <footer class="common-footer">公共copyright</footer>
      {% endblock %}
    </div>
  </div>
</body>
</html>
