{% extends "base.html" %}
{% block main %}
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：<a href="/list/{{f.id}}">{{f.title}}</a></p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
<div>
  内容区：{{result}}
  {% for f in result %}
  <p>标题是：{{f.title}}</p>
  <div>内容是：{{f.keywords}}</div>
  {% endfor %}
</div>
{% endblock %}
